[phases.setup]
nixPkgs = ["nodejs_22", "pnpm"]
env = { NODE_ENV = "production" }

[phases.install]
cmds = ["pnpm install --frozen-lockfile"]

[phases.build]
cmds = ["pnpm prisma generate", "pnpm run build"]

[start]
cmd = "pnpm start"

[variables]
NIXPACKS_PATH = "/app"
NODE_ENV = "production"
